.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.welcome-message {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}